html {
  color: #f2e5bc;
  background-color: #181921;
  font-family: Tahoma;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  position: absolute;
  border: 1px solid #f2e5bc;
  padding: 0rem 1rem 0.6rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1280px;
  background-color: #21222d;
  color: #fab03d;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, 0);

  &.visible {
    top: 0;
  }

  &.hidden {
    top: -100%;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 64px;
    height: 24px;
    width: 24px;
    font-size: 16px;
    top: 5px;
    left: 5px;
    padding: 0;
    position: relative;
    background-size: 0%;
    transition: 0.2s;

    &:hover {
      background-color: #d02f22;
      img {
        filter: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(557%)
          hue-rotate(165deg) brightness(101%) contrast(96%);
      }
    }
  }
}

p {
  margin-bottom: 2rem;
}

.logo {
  width: 24px;
  margin-top: -4px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(24%) saturate(320%)
    hue-rotate(357deg) brightness(102%) contrast(90%);
}

.input-upload {
  text-align: right;
  margin-bottom: 1rem;
}

.file-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 0.5rem;

  input {
    accent-color: #fab03d;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 64px;
    height: 24px;
    width: 24px;
    font-size: 16px;
    top: 5px;
    left: 5px;
    padding: 0;
    position: relative;
    background-size: 0%;
    transition: 0.2s;

    &:hover {
      background-color: #d02f22;
      img {
        filter: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(557%)
          hue-rotate(165deg) brightness(101%) contrast(96%);
      }
    }
  }
}

.button {
  display: block;
  background-color: #1c1d26;
  color: #fab03d;
  border: 1px solid #f2e5bc;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;

  &:hover {
    background-color: #fab03d;
    color: #1c1d26;
  }
}

#upload {
  display: none;
}

.icon {
  width: 16px;
  float: right;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  .container {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;

    .output-download {
      text-align: left;
      margin-bottom: 1rem;
    }

    textarea {
      box-sizing: border-box;
      background-color: #21222d;
      color: #fab03d;
      border: 1px solid #f2e5bc;
      width: 100%;
      min-width: 510px;
      min-height: 210px;
      flex-grow: 1;
      resize: none;
    }
  }
}
